<div class="container kontejner" *ngIf="!pogodjena_komb; else prikazi_form">
    <h1>SKOČKO</h1>
    <span>Vreme:</span> <span id="vreme">{{vreme}}</span>
    <div id="polja">
        <div id="polje_1">
            <div class="kocka_1" id="k11"></div><div class="kocka_2" id="k12"></div><div class="kocka_3" id="k13"></div><div class="kocka_4" id="k14"></div>
            <div class="krug_1" id="o11"></div><div class="krug_2" id="o12"></div><div class="krug_3" id="o13"></div><div class="krug_4" id="o14"></div>
        </div>
        <div id="polje_2">
            <div class="kocka_1" id="k21"></div><div class="kocka_2" id="k22"></div><div class="kocka_3" id="k23"></div><div class="kocka_4" id="k24"></div>
            <div class="krug_1" id="o21"></div><div class="krug_2" id="o22"></div><div class="krug_3" id="o23"></div><div class="krug_4" id="o24"></div>
        </div>
        <div id="polje_3">
            <div class="kocka_1" id="k31"></div><div class="kocka_2" id="k32"></div><div class="kocka_3" id="k33"></div><div class="kocka_4" id="k34"></div>
            <div class="krug_1" id="o31"></div><div class="krug_2" id="o32"></div><div class="krug_3" id="o33"></div><div class="krug_4" id="o34"></div>
        </div>
        <div id="polje_4">
                <div class="kocka_1" id="k41"></div><div class="kocka_2" id="k42"></div><div class="kocka_3" id="k43"></div><div class="kocka_4" id="k44"></div>
                <div class="krug_1" id="o41"></div><div class="krug_2" id="o42"></div><div class="krug_3" id="o43"></div><div class="krug_4" id="o44"></div>
        </div>
        <div id="polje_5">
            <div class="kocka_1" id="k51"></div><div class="kocka_2" id="k52"></div><div class="kocka_3" id="k53"></div><div class="kocka_4" id="k54"></div>
            <div class="krug_1" id="o51"></div><div class="krug_2" id="o52"></div><div class="krug_3" id="o53"></div><div class="krug_4" id="o54"></div>
        </div>
        <div id="polje_6">
                <div class="kocka_1" id="k61"></div><div class="kocka_2" id="k62"></div><div class="kocka_3" id="k63"></div><div class="kocka_4" id="k64"></div>
                <div class="krug_1" id="o61"></div><div class="krug_2" id="o62"></div><div class="krug_3" id="o63"></div><div class="krug_4" id="o64"></div>
        </div>
    </div>
    <div id="logo">
        <div id="logo_1" (click)="logoFunction(1)">
            <img src="../../assets/1.jpeg">
        </div>
        <div id="logo_2" (click)="logoFunction(2)">
            <img src="../../assets/2.jpeg">
        </div>
        <div id="logo_3" (click)="logoFunction(3)">
            <img src="../../assets/3.jpeg">
        </div>
        <div id="logo_4" (click)="logoFunction(4)">
            <img src="../../assets/4.jpeg">
        </div>
        <div id="logo_5" (click)="logoFunction(5)">
            <img src="../../assets/5.jpeg">
        </div>
        <div id="logo_6" (click)="logoFunction(6)">
            <img src="../../assets/6.jpeg">
        </div>
    </div>
    <div class="text-center">
        <button type="button" class="btn btn-primary" (click)="playFunction()">play</button> 
        <button type="button" class="btn btn-secondary" (click)="restartFunction()">restart</button>
    </div>
</div>

<ng-template #prikazi_form>
    <div class="container">
        <div *ngIf="!prikazi_rez; else rezultatiTabela"> 
            <form class="form-signin" style="width: 500px; margin-left:auto; margin-right:auto;" [formGroup]="pogodakForm" (ngSubmit)="sacuvajRezultat(pogodakForm.value)">
                <h1 class="form-signin-heading text-muted">Sacuvaj rezultat</h1>
                <label for="ime">Ime:</label> 
                <input
                    class="form-control"
                    type="text"
                    name="ime"
                    id="ime"
                    formControlName="ime"
                    autofocus
                />
                <label for="rez">Rezultat:</label>
                <input
                    class="form-control"
                    type="text"
                    name="rez"
                    id="rez"
                    value="{{60 - vreme}}"
                    readonly
                /> <br>
                <button class="btn btn-lg btn-primary btn-block" type="submit"> Sacuvaj </button>
            </form>
        </div>
        <ng-template #rezultatiTabela>
            <div class="table-responsive">
                <h1 class="form-signin-heading text-muted">Svi rezultati:</h1>
                <table class='table table-bordered table-dark' style="text-align: center; width: 500px; margin-left:auto; margin-right:auto;">
                    <thead>
                        <th colspan='6'>IME</th>
                        <th colspan='6'>REZULTAT</th>
                    </thead>
                    <tr *ngFor="let user of rezultati">
                        <th colspan='6'> {{ user.name }} </th>
                        <th colspan='6'> {{ user.score }} </th>
                    </tr>
                </table>
                <button class="btn btn-lg btn-primary btn-block" style="width: 500px; margin-left:auto; margin-right:auto;" (click)="onNewGame()"> Nazad </button>
            </div>
        </ng-template>
    </div>
</ng-template>